body {
    /* Mobile first */
    background-color: black;
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Avenir, sans-serif;
    /*font-size: 32px;*/
    /*font-style: normal;*/
    /*font-weight: 350;*/
    /*line-height: 40px; !* 125% *!*/

    h1 {
        font-size: 3rem;
        font-style: normal;
        font-weight: 900;
        line-height: 50px; /* 104.167% */
        text-transform: uppercase;
        margin: 0 0 1rem;
    }
    h2 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 900;
        line-height: 4rem; /* 162.5% */
        text-transform: uppercase;
    }

    h3 {
        font-size: 20px;
        font-style: normal;
        font-weight: 350;
    }
    h4 {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 900;
        line-height: 1.875rem; /* 150% */
        text-align: center;
    }


    /* Tablet and up */
    @media screen and (width >= 600px) {
        h1 {
            font-size: 4rem;
        }
    h2{
        font-size: 2rem;
        text-align: center;
    }
    h4{
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 900;
    }
    }

    /* Desktop and up */
    @media screen and (width >= 1000px) {
        h2{
            font-size: 2.5rem;
        }
        h4{
            font-size: 2rem;
            font-style: normal;
            font-weight: 900;
            line-height: 4rem;
        }

    }
}